@use "sass:color";

@use "@material/theme/color-palette";

// Svelte Colors!
@use "@material/theme/index" as theme with (
  $primary: #ba70ff,
  $secondary: #676778,
  $surface: #353535,
  $background: #353535,
  $error: color-palette.$red-900
);

html,
body {
  margin: 0;
  background-color: theme.$surface;
  color: theme.$on-surface;
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  color: theme.$primary;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

code {
  font-family: "Fira Code", "Courier New", Courier, monospace;
}
